.movie-card {
    --aspect-ratio: 780 / 1170;

    max-height: 72dvh;
    width: 100%;
    position: relative;
    display: flex;
    border-radius: 0.875rem;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    aspect-ratio: var(--aspect-ratio);
}

.movie-card:hover {
    border-radius: 0;
}

.movie-card:hover .movie-card__img {
    height: 115%;
    width: 115%;
}

.movie-card:hover .movie-card__info {
    opacity: 1;
}

.movie-card__img,
.movie-card__placeholder,
.movie-card__info {
    display: block;
    position: absolute;
}
.movie-card__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in-out;
    border-radius: inherit;
}

.movie-card__placeholder,
.movie-card__info {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.movie-card__placeholder {
    background-color: #ccc;
    font-size: 1.75rem;
    color: #666;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: inherit;
}

.movie-card__info {
    color: #fff;
    padding: 1rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.movie-card__title {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
    font-family: Arial, 'Nunito', sans-serif;
}

.movie-card__release-date {
    font-size: 0.9375rem;
    margin: 0;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
}
.movie-card__release-date-label {
    font-weight: 400;
    font-size: 0.75rem;
}

.movie-card__overview {
    font-size: 1rem;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}

.movie-card__rating {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

.movie-card__rating-label {
    font-size: 0.75rem;
    font-weight: bold;
}

svg.CircularProgressbar {
    width: 4rem;
    margin: 0 auto;
}

.movie-card__link {
    margin-top: 0.5rem;
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}
.movie-card__link:hover {
    color: #abd5ff;
    text-decoration: none;
}

@media (min-width: 1600px) {
    .movie-card__title {
        font-size: 2rem;
    }
    .movie-card__release-date {
        font-size: 1.125rem;
    }
    .movie-card__release-date-label {
        font-size: 0.875rem;
    }
    .movie-card__overview {
        font-size: 1.125rem;
        margin-bottom: 0.75rem;
    }
    .movie-card__link {
        font-size: 1rem;
    }
}