.glide__slide {
    display: flex;
    justify-content: center;
}

.glide__arrows {
    margin-top: 0.5rem;
    margin-inline: 0.875rem;
    display: flex;
    justify-content: space-between;
}

.glide__arrow {
    background-color: transparent;
    border: solid 1px #fff;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    height: 1.75rem;
    width: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.glide__arrow:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.glide__arrow:hover {
    background-color: #fff;
    color: #2b1710;
    transform: scale(1.1);
}